#ipLabel {
    -fx-text-fill: brown;
}
#portLabel {
    -fx-text-fill: brown;
}
#button {
    -fx-min-height: 100;
    -fx-min-width: 100;
    -fx-background-radius: 50;
    -fx-font-size: 24;
    -fx-background-color: green;
    -fx-text-fill: white;
}